config sf-ircd main
	option enabled '0'
	option listen_addr ''
	option server_name 'kestrel.local'
	option firewall_zone 'lan'
	option tls_cert '/etc/uhttpd.crt'
	option tls_key '/etc/uhttpd.key'
	option oidc_introspection_url ''
	option oidc_client_id ''
	option oidc_client_secret_file ''
	option oidc_ca_file ''
	option oidc_issuer ''
	option oidc_audience ''
	option oidc_required_group ''
	option oidc_write_entitlement 'router:write'
	option oidc_operator_entitlement 'router:write'
	option db '/etc/kestrel/social-firewall/social-firewall.sqlite'
	option out_dir '/etc/kestrel/social-firewall/chat-out'
